/* HEADER */
header{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

/* BODY */

body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
}

.app{
    position: relative;
}

/* TARJETAS */

.titulo {
    font-family: 'Courier New', Courier, monospace;
    color: purple;
    text-align: center;
    font-weight: bold;
}

.info{
    border-style:groove;
    border-width: thick;
    color: black;
    margin: 10px;
    border-color: rgb(69, 202, 87);
    border-width: thin;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    width: 93%;
    text-align: center;
}

.nombreapellido{
    font-size: large;
}

.datos{
    font-size: x-small;
}

.cosas1{
    font-weight: bold;
}

.imagen{
    width: 15%;
}

button{
    background: transparent;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
}

.agregar:hover {
    background-color: #86945e ;
    color: white;
}

.agregar{
    border: 2px solid #86945e;
    position: relative;
    float: right;
}

#formulario{
    display: none;
    float: right;
}

.borrar{
    border: 2px solid brown;
    margin-bottom: 2px;
    float: right;
}

.borrar:hover {
    background-color: brown;
    color: white;
}

.detalles{
    border: 2px solid lightgreen;
    margin-bottom: 2px;
    font-size: xx-small;
}

.detalles:hover {
    background-color: lightgreen;
    color: white;
}

.detalle{
    display: none;
    font-size: xx-small;
}

.cosas2{
    text-decoration: underline gray;
}

/* FOOTER */

footer{
    background-color: black;
    font-size: xx-small;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    position: relative;
}