/* HEADER */
header{
    background-color: grey;
    color: white;
}

/* BODY */

body{
    background-color: green;
}

/* TARJETAS */

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.imagen{
    width: 10%;
}


.info{
    border-style: dotted;
    border-width: thick;
    color: white;
    margin-bottom: 30px;
    border-color: red;
}

.subtitulo{
    color: violet;
}

.masInfo{
    display: none;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
    text-align: right;

}
