/* HEADER */
header{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: small;
}

/* BODY */

body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    height: 100vh;
}

.app{
    position: relative;
}

/* TARJETAS */

.invisible{
    display: none;
}

.desplazamiento{
    border: 2px solid rgb(238, 66, 66);
    position: relative;
    float: center;
}

.desplazamiento:hover {
    background-color: rgb(238, 66, 66);
    color: white;
}

.buscar{
    border: 2px solid blueviolet;
}

.buscar:hover {
    background-color:blueviolet;
    color: white;
}

.buscador{
    width: 80%;
    float: left;
    display: none;
}

.inputBuscador{
    width: 20%;
    position: relative;
    border: 2px solid #86945e;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}

.inputBuscador:hover{
    background-color: #86945e ;
    color: white;

}

.botonAgregar{
    width: 20%;
    float: right;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    color: purple;
    text-align: center;
    font-weight: bold;
}

.info{
    border-style:groove;
    border-width: thick;
    color: black;
    margin: 10px;
    border-color: black;
    border-width: thin;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    width: 44%;
    text-align: center;
    float: left;
}

.nombreapellido{
    font-size: large;
}

.datos{
    font-size: small;
}

.cosas1{
    font-weight: bold;
}

.imagen{
    width: 15%;
}

button{
    background: transparent;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
}

#filtrador{
    display: none;
    float: left;
    padding: 3px;
}

.filtrar:hover {
    background-color: red ;
    color: white;
}

.filtrar{
    border: 2px solid red;
    position: relative;
    float: left;
    font-size: small;
}

.filtrado:hover {
    background-color: rgb(128, 16, 16) ;
    color: white;
}

.filtrado{
    border: 2px solid rgb(128, 16, 16);
    position: relative;
    font-size: x-small;
}

.inputBuscador{
    border: 2px solid rgb(66, 152, 238);
    position: relative;
    float: center;
}

.inputBuscador:hover {
    background-color: rgb(66, 152, 238) ;
    color: white;
}

.agregar:hover {
    background-color: #86945e ;
    color: white;
}

.agregar{
    border: 2px solid #86945e;
    position: relative;
    float: right;
    font-size: small;
}

.botonagregar{
    border: 2px solid lightseagreen;
    margin-bottom: 2px;
    font-size: small;
}

input.valor{
    width: 70px;
    height: 20px;
    border-color: black;
    border-width: thin;
}

input.valorf{
    width: 90px;
    height: 20px;
    border-color: black;
    border-width: thin;
}

.botonagregar:hover {
    background-color: lightseagreen;
    color: white;
}

#formulario{
    display: none;
    float: right;
    padding: 3px;
}

.borrar{
    border: 2px solid brown;
    margin-bottom: 2px;
    float: right;
}

.borrar:hover {
    background-color: brown;
    color: white;
}

.detalles{
    border: 2px solid rgb(238, 149, 66);
    margin-bottom: 2px;
    font-size: xx-small;
}

.detalles:hover {
    background-color: rgb(238, 149, 66);
    color: white;
}

.detalle{
    display: none;
    font-size: x-small;
}

.cosas2{
    text-decoration: underline gray;
}

/* FOOTER */
footer{
    background-color: black;
    font-size: x-small;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    height: 30px;
    position: fixed;
    width: 100%;
    margin-left: -1;
    bottom: 0;
}